body {
  margin: 0;
  padding: 0;
  background: #ccc;
}
/*navbar css*/
.nav{
  position: fixed;
}
.nav ul {
  white-space:nowrap;
  list-style: none;
  background-color: #fff;
  opacity: 0.95;
  text-align: center;
  padding: 0;
  margin: 0;
}
nav li {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1.2em;
  line-height: 60px;
  width: 100px;
  height: 60px;
  border: none;
  display: inline-block;
  margin-left: 5%;
  margin-right: 5%;
}
nav a {
  text-decoration: none;
  color: #7b8087;
}
nav a:hover {
  color: #0f97f9;
}
.navtitle {
  font-size: 1.9em;
}


/*first section*/
.container {
  width:100%;
  height:100%;
  background-color: red;
}
