body{
  margin: 0;
}
.Ports{
  position: relative;
  margin-top: 0;
  padding: -1;
  width: 100%;
  height: 100%;
  background-color: #15242e;
}


.hexagon {
    position: absolute;
    overflow: hidden;
    visibility: visible;
    -webkit-transform: rotate(150deg);
       -moz-transform: rotate(150deg);
        -ms-transform: rotate(150deg);
         -o-transform: rotate(150deg);
            transform: rotate(150deg);
    cursor: pointer;
    width: 400px;
    height: 200px;
}
.hexagon-middle {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    -webkit-transform: rotate(-60deg);
       -moz-transform: rotate(-60deg);
        -ms-transform: rotate(-60deg);
         -o-transform: rotate(-60deg);
            transform: rotate(-60deg);
}
.hexagon-inner {
  background-image: url(http://www.zenefits.com/static/marketing/img/carriers/img.jpg);
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50%;
    visibility: visible;
    -webkit-transform: rotate(-60deg);
       -moz-transform: rotate(-60deg);
        -ms-transform: rotate(-60deg);
         -o-transform: rotate(-60deg);
            transform: rotate(-60deg);
}
.hexagon-inner:hover {
    background-image: url(http://placekitten.com/241/241);
}

.hexagon1 {
  top: 2em;
  left: 5em;
}
.hexagon2 {
  top: 2em;
  left: 18em;
}
.hexagon3 {
  top: 13.3em;
  left: -1.5em;
}
